/* Title Style */
h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 32px;
  color: #67c23a;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Progress Container Style */
.progress-container {
  width: 100%;
  position: fixed;
  top: 1%;
  left: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 两端对齐，元素间隔最大 */
}

/* Back Button Style */
.back-button {
  font-size: 14px;
  color: #fff;
  background-color: #67c23a;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 25px;
}

/* Countdown Clock Style */
.countdown-clock {
  transform: scale(0.6);
}

.countdown-clock span {
  font-size: 45px;
  color: rgb(19, 206, 102);
  font-family: "Arial", sans-serif;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

/* Game Container Style */
.game-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1c1c1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Image Style */
.strip-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Phase Container Style */
.memory-phase,
.interference-phase,
.options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Options Grid Style */
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Option Strip Style */
.option-strip {
  flex-basis: 80%;
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Option Strip Image Style */
.option-strip img {
  width: 100%;
  border-radius: 5px;
}

/* Countdown Timer Bar Container Style */
.countdown-timer-bar-container {
  width: 90%;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

/* Countdown Timer Parts Style */
.red-part,
.green-part,
.blue-part {
  position: absolute;
  top: 0;
  height: 100%;
}

.red-part {
  left: 0;
  width: 20%;
  background-color: #ffb6c18a;
  border-radius: 10px 0 0 10px;
}

.green-part {
  left: 20%;
  width: 20%;
  background-color: #98ff987a;
}

.blue-part {
  left: 40%;
  width: 60%;
  background-color: #87cefa;
  border-radius: 0 10px 10px 0;
}

/* Countdown Timer Bar Style */
.countdown-timer-bar {
  height: 100%;
  position: absolute;
  background-color: rgb(223, 210, 95);
  transition: width 0.1s linear;
  z-index: 10;
  border-radius: 10px;
}

/* Answer Feedback Style */
.correct-answer .strip-image {
  box-shadow: 0 0 20px 2px #087108;
}

.wrong-answer .strip-image {
  box-shadow: 0 0 20px 2px #ff0000;
}
