h1 {
  text-align: center; /* 居中标题 */
  font-family: "Comic Sans MS", cursive, sans-serif; /* 使用更加轻松活泼的字体 */
  font-size: 32px; /* 调整字体大小 */
  color: #67c23a; /* 可以选择一个适合的颜色 */
  margin-top: 10px; /* 在标题上方留出一些空间 */
  margin-bottom: 20px; /* 在标题下方留出一些空间 */
}

/* Game container */
.game-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1c1c1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Image styles */
.strip-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Phase containers */
.memory-phase,
.interference-phase,
.options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Options grid */
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Option strips */
.option-strip {
  flex-basis: 80%;
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Option strip images */
.option-strip img {
  width: 100%;
  border-radius: 5px;
}

.countdown-timer-bar-container {
  width: 90%;
  height: 18px;
  margin: 0 auto; /* 上下边距为 0，左右边距为 auto */
  margin-bottom: 20px; /* 您可以保留这个设置，以在容器下方添加额外的空间 */
  position: relative;
  z-index: 2;
  /* border-radius: 10px; */
}

.red-part,
.green-part,
.blue-part {
  position: absolute;
  top: 0;
  height: 100%;
  /* border-radius: 10px; */
}

.red-part {
  left: 0;
  width: 20%; /* 红色部分宽度 */
  background-color: #ffb6c18a;
  border-radius: 10px 0 0 10px;
}

.green-part {
  left: 20%; /* 紧接红色部分 */
  width: 20%; /* 绿色部分宽度 */
  background-color: #98ff987a;
}

.blue-part {
  left: 40%; /* 紧接绿色部分 */
  width: 60%; /* 蓝色部分宽度 */
  background-color: #87cefa;
  border-radius: 0 10px 10px 0;
}

.countdown-timer-bar {
  height: 100%;
  position: absolute;
  background-color: rgb(223, 210, 95);
  transition: width 1s linear;
  z-index: 10; /* 确保这个值高于 ::after 和 ::before 伪元素 */
  border-radius: 10px;
}

.correct-answer .strip-image {
  box-shadow: 0 0 20px 2px #087108; /* 绿色发光效果 */
}

.wrong-answer .strip-image {
  box-shadow: 0 0 20px 2px #ff0000; /* 红色发光效果 */
}

.progress-container {
  position: fixed; /* 固定定位，相对于视口 */
  top: 1%; /* 距离顶部的距离 */
  right: 1%; /* 距离右侧的距离 */
}

.countdown-clock {
  transform: scale(0.6); /* 缩小到原始尺寸的 50% */
}

.countdown-clock span {
  font-size: 45px; /* 增大字体大小以提高可读性 */
  color: rgb(
    19,
    206,
    102
  ); /* Element UI 'success' 状态的颜色，或者您可以选择一个适合的绿色 */
  font-family: "Arial", sans-serif; /* 使用 Arial 字体 */
  text-align: center; /* 确保文本居中 */
  line-height: 50px; /* 调整行高以垂直居中文本 */
  font-weight: bold; /* 加粗文本 */
}
